<%- include('header.ejs') %>
    <link rel="stylesheet" href="./plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Package Subscriber</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/teacher">Home</a></li>
                            <li class="breadcrumb-item"><a href="/user-packages">User Packages</a></li>
                            <li class="breadcrumb-item name1"></li>
                            <li class="breadcrumb-item active">Subscriber</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <section class="content">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-lg-12 col-md-12 view-question-bank-box">
                        <div class="card card-outline">
                            <div class="card-header">
                                <h3 class="card-title">Total Subscriber: <span class="text-bold text-green h3 total-subscriber"></span>
                                </h3>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped" id="example">
                                        <thead>
                                            <tr>
                                                <th>Sn</th>
                                                <th>UserId</th>
                                                <th>End Date</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody id="subscriber"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <%- include('footer.ejs') %>
        <script src="./js/teacher/user-packages.js"></script>
        <script src="./plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="./plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>