<%- include('header.ejs') %>
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Password Update</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/teacher">Home</a></li>
                            <li class="breadcrumb-item active">Password Update</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <section class="content">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="card card-outline">
                            <div class="card-body box-profile">
                                <form action="javascript:void(0)" method="post">
                                    <div class="text-center h6 mb-3 notice" style="display: none;">
                                        <span class="notice-text">Loading...</span>
                                    </div>
                                    <input type="hidden" class="form-control userid" value="<%- userId %>" readonly>
                                    <div class="input-group mb-3">
                                        <input type="password" class="form-control new-password" placeholder="New Password" required>
                                    </div>
                                    <div class="input-group mb-3">
                                        <input type="password" class="form-control re-password" placeholder="Confrim password" required>
                                    </div>
                                    <div class="input-group mb-3">
                                        <input type="password" class="form-control old-password" placeholder="Old password" required>
                                    </div>
                                    <div class="row justify-content-center">
                                        <button type="submit" class="btn btn-success btn-block" id="password-update">Update</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <%- include('footer.ejs') %>
        <script src="./js/teacher/index.js"></script>