<%- include('header.ejs') %>
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">MCQ Question</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/student">Home</a></li>
                            <li class="breadcrumb-item active">MCQ</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <section class="content">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-12">
                        <div class="card card-outline">
                            <div class="card-header">
                                <h3 class="card-title">Click your enrolled course for question</h3>
                            </div>
                            <div class="card-body">
                                <form action="javascript:void(0)" method="post">
                                    <label>UserId:</label>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control userid" value="<%- userId %>" readonly>
                                    </div>
                                    <label>Enrolled Course:</label>
                                    <div class="input-group mb-3 enrolled-course-fetch"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="card card-outline">
                            <div class="card-header">
                                <h3 class="card-title">MCQ Exam <span class="ml-5" id="exam-time">timer</span></h3>
                            </div>
                            <div class="card-body">
                                <h5 class="mcq-course-title text-info text-bold"></h5>
                                <div class="mcq-list"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <%- include('footer.ejs') %>